//Colores primarios
$primary: #0F98F9;
$primary-lg: #6AC8FF;
$primary-dk: #006BC5;

//Colores secundarios
$secondary: #F0E100;
$secondary-lg: #FFFF54;
$secondary-dk: #B9B000;

//Components bakground
$components-bg: #FFFFFF;

//Body bakground
$body-bg: #D9D9D9;

//Color del texto de los botones
$btn_txt: #3300A3;
